.box{
    height: 330px;
    width: 300px;
    background-color: rgb(255, 255, 255); /* Fallback color */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}

.box > .log__out > h1{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}

.box > .log__out > img{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.box > .log__out > .logout_button{
    min-width: 200px;
    padding: 17px 30px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;
    margin-left: 50px;
    
}